body{
    margin-left: 25%;
    margin-right: 25%;
}


button{
    height: 50px;
    width: 120px;
    border-radius: 20px;
}
#navbar{
    display: flex;
    gap: 50px;
}
#improve{
    display: flex;
    gap: 80px;
}
#roger{
    transform: rotate(-6deg);
}

#icons{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 20px;
    gap: 40px
}
#name{
    display:flex;
    gap: 30px;
}

#cont1{
    border: 2px solid black; 
    padding: 10px;
    padding-top: 10px;
    padding-right: 30px;
}
#man1{
    border: 2px solid pink;
    border-radius: 15%;
    padding: 25px;
}
#mobile{
    display: flex;
    gap: 70px;
}
.glasses{
  margin-top: 20%;
    height: 200px;
    width: 200px;
    border-radius: 20%;
}

.pink{
  background-color: crimson;
  border: none;
}
.icon{
    width: 12px;
    
}
.blue{
    background-color: navy;
    color: white;
    border: none;
}
.middle{
    text-align: center;
}
.img{
    width:15px;
    height: 20px;

}
#product{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
#numbers{
    display: flex;
    gap: 80px;
}

#digits{
   display: flex; 
   gap: 40px;
}
#person2{
    margin-top: 35%;
}

#settings{
   display: flex;
   gap: 40px;
   transform: rotate(5deg);
}

#createaccount{
  display: flex;
   gap: 40px;
}

#businessmen{
    display: flex;
    flex-direction: row;
    gap: 70px;
}

#users{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
#footer{
    display:flex;
    flex-direction: row;
    background-color: navy;
    color: white;
    height: 250px;
    margin-top: 10%;
    gap: 40px;
    line-height: 24px;
    
}
#bottom{
    display: flex;
    gap: 80px;
    background-color: black;
    color: white;
    width: 100%;
    
}

@media only screen and (min-width: 400px) and (max-width: 600px){
   body{
    
   }
   
    #navbar{
        flex-direction: column;
        gap: 0;
    }
    #improve{
        flex-direction: column;
        gap: 20px;
    }
    #icons{
        flex-direction: column;
        height: 30px;
        width: 20px;
        
    }
    #product{
    
        flex-direction: column;
        
    }
    #numbers{
        flex-direction: column;
        
    }#mobile{
        flex-direction: column;
    }
    #businessmen{
        flex-direction: column;
        gap: 30px;
    }
    #users{
    
        flex-direction: column;
        gap: 70px;
    }
    #footer{
        flex-direction: column;
        background-color: navy;
        color: white;
        height:1000px;
        gap: 5px; 
    }
    #roger{
        transform: rotate(-3deg);
    }
    
    
    .pic{
        height:250px;
        width: 250px;
    }
    #bottom{
        flex-direction: column;
        background-color: black;
        color: white;
        width: 100%;
        gap: 5px;
        
    }

}